<!DOCTYPE html>
<html>
<head>
  <title>#{get 'title' /}</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>
<body>
<section class="ui container">
  #{doLayout /}
  <footer class="ui inverted blue stacked segment">
    <p>Contact us at <a href="mailto:info@weatherstore.ie">info@weatherstore.ie</a><br></p>
    <div class="ui message">
      <div class="header">
        WeatherTop
      </div>
      <p>Millennium Business Park, Cork Rd, Waterford. <b>Phone:</b> 051 607897</p>
    </div>
  </footer>
</section>
</body>
</html>



